@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-fonts.woff2) format('woff2');
}

@font-face {
    font-family: 'Rancho';
    src: url('../fonts/Rancho-Regular.ttf');

}

@font-face {
    font-family: 'Kashima Brush Demo';
    src: url('../fonts/Kashima demo Kopie.otf');


}

@font-face {
    font-family: 'SendFlowers';
    src: url('../fonts/SendFlowers-Regular.ttf');


}

@font-face {
    font-family: 'Tangerine';
    src: url('../fonts/Tangerine-Regular.ttf');
}